body {background:black;
  color:white;
  margin:0;
font-family: 'Roboto Slab', serif;
}
.infoBox {
  display:none;
  opacity:0;
  transition:0.5s;
  border:2px solid white;
  padding:20px;
  width:320px;
  margin:30px auto;
  text-align:center;
  background:#111;
  border-radius:10px;
}