body {background:black;
  color:white;
  margin:0;
font-family: 'Roboto Slab', serif;
}
.buttonRow{
  display:flex;
  justify-content:space-around;
  margin-top:50px;
}

.section{
  text-align:center;
  width:50%;
}

.infoBox{
  display:none;
  opacity:0;
  transition:0.5s;
  border:2px solid white;
  padding:20px;
  background:#111;
  border-radius:12px;
  margin-top:15px;
}
.section button{
  padding:15px 30px;
  font-size:18px;
  border-radius:8px;
}
button:hover{
  box-shadow:0 0 10px rgb(134, 15, 170);
  cursor:pointer;
}
